<div class="ui vertically divided grid">
  <div class="zero padded row">
    <div class="ten wide column">
      <h1 class="ui header">
        <%= @project %>
        <%= link_to icon(:external, data: { content: 'Open project on Buildkite' }), @project[:web_url], target: '_blank' %>
      </h1>
    </div>
    <div class="right aligned six wide column">
      <h4>
        <%= link_to @project.github_url, target: '_blank' do %>
          <%= icon @project[:provider][:id], :large %>
          <span><%= @project.github_path %></span>
        <%- end -%>
      </h4>
    </div>
  </div>
  <div class="row"></div>
</div>

<div class="center">
  <div class="ui horizontal small statistic">
    <div class="value">
      <%= @pulls.count %>
    </div>
    <div class="label">
      Pull Requests
    </div>
  </div>

  <div class="ui horizontal small statistic">
    <div class="value">
      <%= @project[:scheduled_builds_count] %>
    </div>
    <div class="label">
      Scheduled Builds
    </div>
  </div>

  <div class="ui horizontal small statistic">
    <div class="value">
      <%= @project[:running_builds_count] %>
    </div>
    <div class="label">
      Running Builds
    </div>
  </div>
</div>

<h4 class="ui horizontal divider header">
  Open Pull Requests
  <div class="sub header">Feature branches only (base is master)</div>
</h4>

<div class="ui large very very relaxed divided list">
  <%- @pulls.each do |pull| -%>
    <div class="item">
      <div class="right floated content">
        <%= link_to raw("#{pull[:head][:ref]} #{icon(:fork, :small)}"), pull[:html_url] %>
      </div>
      <%= icon :large, :github, :disabled %>

      <div class="content">
        <div class="header"><%= pull[:title] %></div>

        <%- if @builds[pull[:head][:ref]] && (build = @builds[pull[:head][:ref]].first) -%>
          <div class="description">
            <div class="ui top padded"><%= link_to build, build[:web_url] %></div>
            <small class="ui uppercase">
              <small><code><%= link_to build[:commit], "#{@project.github_url}/commit/#{build[:commit]}" %></code></small>
              <small class="ui left right padded">|</small>
              <small data-content="<%= DateTime.parse(build[:finished_at]).to_s :short %>">
                finished <%= time_ago_in_words DateTime.parse(build[:finished_at]) %> ago
              </small>
              <%- if build.artifact.nil? -%>
                <small class="ui left right padded">|</small>
                <small><i>no artifact!</i></small>
              <%- end -%>
            </small>

            <%- unless build.artifact.nil? -%>
              <div>
                <%= build.artifact %>
              </div>
            <%- end -%>
          </div>
        <%- else -%>
          <small class="description">
            <i>Cannot find any successful builds for this PR and branch</i>
          </small>
        <%- end -%>
      </div>
    </div>
  <%- end -%>
</div>
