<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title><%= page_title_for_header %></title>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <nav class="main">
      <div>
        <ul id="home-nav">
          <li><%= link_to 'Home', root_path %></li>
        </ul>

        <div id="logo"><%= link_to 'Brick', root_path %></div>

        <ul id="user-nav">
          <%- if signed_in? -%>
            <li>signed in as <%= current_user %></li>
            <li><%= link_to semantic_icon(:sign, :out), sign_out_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <%- else -%>
            <li><%= link_to 'Sign in', '/auth/github' %></li>
          <%- end -%>
        </ul>
      </div>
    </nav>

    <header>
      <%= yield :header %>
    </header>

    <main>
      <%= render partial: "layouts/flashes", flash: flash %>
      <%= yield %>
    </main>

    <footer>
      <div>
        <div class="pull right">Contact me at <%= mail_to 'joel@developwithstyle.com' %></div>
        &copy; Joel Moss &ndash; Developed with Style
      </div>
    </footer>

  </body>
</html>
